<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hakkında</title>
</head>
<body>
    <h1>Hakkında</h1>
    <p>Kehanetci -- Bazı kalıplar ile yalnızca arayanların bulabileceği cümleler yaratmayı deniyor bu uygulama.
        <a href="https://en.wikipedia.org/wiki/TempleOS">TempleOS</a> ileri okuma için ziyaret et.
    </p>

    <p>Oguz -- Tehlikeli oyunlar kitabından rastgele bir cümle getiriyor. bir ihtimalde araya karıştırdığım cümlelelerden.</p>

    <p>Bu Lutlar -- "Ben" tarafından çekilen bulut resimleri.</p>
</body>
</html>