<p>
    aslında yeni eklenen bişey var mı diye playlisti kontrol edip linkini kodun içine ekliyorum biraz zor. 
    
    eklenmesi gereken bir durumda, güne özel seçilen bir anahtar ile bu rasgelik toplam yapı içinden rastgele
     bir tane çekiyor. her şarkı listesi güncellemesi, ne kadar anahtarı değiştrimese de toplam yapı içinde 
     değişiklik yaptığı için şarkı listesine gün içinde yenileme yaparsam günün şarkısında değişim oluyor.

     ekleme yaparken eski halini siliyorum ne yazık ki.
</p>



<iframe 
    src="https://open.spotify.com/embed/track/{{ track_id }}" 
    width="300" 
    height="380">
</iframe>

<p> no exit oyununu okudum çok garip değil ama sanıırm sevdiğim çoğu yapım bundan türetilmiş sınav haftası tüketim alışkanlıklarım artıyo. </p>